.product {
    box-shadow: 0 0 5px #ccc;
    padding: 15px 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    min-width: 300px;
    min-height: 400px;
    border: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px #ddd;
    margin: 10px;
    transition: 0.5s linear;
}

.card:hover {
    box-shadow: none;
}

.card img {
    max-width: ;
}